# 安裝相關套件([talib](http://mrjbq7.github.io/ta-lib/), [pandas_datareader](https://pandas-datareader.readthedocs.io/en/latest/))並 import

In [ ]:
!wget https://launchpad.net/~mario-mariomedina/+archive/ubuntu/talib/+files/libta-lib0_0.4.0-oneiric1_amd64.deb -qO libta.deb
!wget https://launchpad.net/~mario-mariomedina/+archive/ubuntu/talib/+files/ta-lib0-dev_0.4.0-oneiric1_amd64.deb -qO ta.deb
!dpkg -i libta.deb ta.deb
!pip install TA-Lib pandas-datareader

import datetime

from talib.abstract import *
import pandas
import pandas_datareader

(Reading database ... 144702 files and directories currently installed.)
Preparing to unpack libta.deb ...
Unpacking libta-lib0 (0.4.0-oneiric1) over (0.4.0-oneiric1) ...
Preparing to unpack ta.deb ...
Unpacking ta-lib0-dev (0.4.0-oneiric1) over (0.4.0-oneiric1) ...
Setting up libta-lib0 (0.4.0-oneiric1) ...
Setting up ta-lib0-dev (0.4.0-oneiric1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Requirement already satisfied: TA-Lib in /usr/local/lib/python3.6/dist-packages (0.4.18)
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.6/dist-packages (0.8.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from TA-Lib) (1.18.5)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (1.0.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas-datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.21->pandas-datareader) (1.15.0)

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

# 查看 talib 中技術指標的文件

In [ ]:
print(MA)

MA([input_arrays], [timeperiod=30], [matype=0])

Moving average (Overlap Studies)

Inputs:
    price: (any ndarray)
Parameters:
    timeperiod: 30
    matype: 0 (Simple Moving Average)
Outputs:
    real

In [ ]:
print(MACD)

MACD([input_arrays], [fastperiod=12], [slowperiod=26], [signalperiod=9])

Moving Average Convergence/Divergence (Momentum Indicators)

Inputs:
    price: (any ndarray)
Parameters:
    fastperiod: 12
    slowperiod: 26
    signalperiod: 9
Outputs:
    macd
    macdsignal
    macdhist

# 修改此處設定可以抓取並計算不同的資料

functions 為一個 list of tuples，要增加技術指標只要增加一列即可

tuple 中有三項：指標名，產出 column rename 的後綴名，指標的參數

其中參數為一個 dict，請參閱上面的文件來下

In [ ]:
source = 'yahoo'
symbol = '^TWII'
start = datetime.date(2010, 1, 1)
end = datetime.date(2020, 8, 31)
functions = [
  ('MA', '', {}),
  ('MACD', '10_30', {'fastperiod': 10, 'slowperiod': 30}),
]

In [ ]:
org_data = pandas_datareader.DataReader(symbol, data_source=source, start=start, end=end).rename(columns=lambda x:x.lower())
org_data

                    high           low  ...     volume     adj close
Date                                    ...
2010-01-04   8240.450195   8143.450195  ...  6429400.0   8207.817383
2010-01-05   8283.639648   8162.540039  ...  6762000.0   8211.368164
2010-01-06   8327.870117   8216.919922  ...  6421600.0   8327.587891
2010-01-07   8369.549805   8233.589844  ...  7133000.0   8237.387695
2010-01-08   8290.660156   8178.930176  ...  5764400.0   8280.868164
...                  ...           ...  ...        ...           ...
2020-08-26  12833.290039  12734.690430  ...  3413200.0  12833.290039
2020-08-27  12960.679688  12786.450195  ...  4956500.0  12797.309570
2020-08-28  12799.160156  12674.570312  ...  3774200.0  12728.849609
2020-08-31  12831.379883  12591.450195  ...  4820400.0  12591.450195
2020-09-01  12703.280273  12565.830078  ...  4070500.0  12703.280273

[2612 rows x 6 columns]

In [ ]:
data = [org_data]

for func, name, param in functions:
    index = Function(func.lower())(org_data, **param)
    if index.ndim == 1:
        index.name = func.lower() + name
    else:
        index.rename(columns=lambda x:x + name, inplace=True)
    data.append(index)

data = pandas.concat(data, axis=1)
data

                    high           low  ...  macdsignal10_30  macdhist10_30
Date                                    ...
2010-01-04   8240.450195   8143.450195  ...              NaN            NaN
2010-01-05   8283.639648   8162.540039  ...              NaN            NaN
2010-01-06   8327.870117   8216.919922  ...              NaN            NaN
2010-01-07   8369.549805   8233.589844  ...              NaN            NaN
2010-01-08   8290.660156   8178.930176  ...              NaN            NaN
...                  ...           ...  ...              ...            ...
2020-08-26  12833.290039  12734.690430  ...       214.565636     -50.647197
2020-08-27  12960.679688  12786.450195  ...       204.046260     -42.077504
2020-08-28  12799.160156  12674.570312  ...       193.346219     -42.800164
2020-08-31  12831.379883  12591.450195  ...       179.460975     -55.540977
2020-09-01  12703.280273  12565.830078  ...       166.609742     -51.404929

[2612 rows x 10 columns]